@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  /* body {
    @apply bg-slate-800;
  } */
    
  .header {
    @apply flex flex-col lg:flex-row p-3 space-x-5 items-center place-content-evenly fixed z-50 w-screen;
  }

    .link-navegacion {
      @apply text-2xl text-white tracking-wider mr-3 font-semibold hover:border-b-2 hover:border-amber-300;
    }

    .link-navegacion a {
      @apply md:max-w-max;
    }

    .bg-sup{
        background: url('../img/programacion-2.jpg');
        @apply h-screen bg-cover bg-no-repeat;
    }

    .seccion-inicio {
      @apply h-screen flex items-center justify-center;
    }

    .span-sup {
      @apply text-white text-3xl sm:text-5xl font-bold -mt-52 text-center;
    }

    .portafolio {
      @apply h-fit container mx-auto;
    }

    .titulo-portafolio {
      @apply text-5xl lg:mx-12 my-10 font-medium text-slate-800;
    }

    .proyectos {
      @apply grid gap-10;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr) );
    }

    .proyecto {
      @apply shadow-2xl w-64 sm:w-96 m-2 rounded-md mx-auto cursor-pointer transition-transform hover:transform hover:scale-105 relative;
    }

    .proyecto h3,
    .proyecto h4 {
      @apply text-slate-800;
    }

    .imagen-proyecto {
      @apply w-full md:w-96 h-60 bg-cover rounded-tl-md rounded-tr-md mix-blend-overlay;
    }

    .overlay-proyecto {
      @apply relative flex place-content-center items-center hover:bg-black hover:bg-opacity-60 transition duration-500 rounded-tl-md rounded-tr-md overflow-hidden;
    }

    .links-proyecto {
      @apply absolute sm:flex;
    }

    .option {
      @apply flex mx-5 mb-5 sm:mb-0 rounded-md p-3 shadow-2xl bg-slate-900 hover:bg-slate-700 text-slate-50;
    }

    .option img {
      @apply w-5 h-5 mx-1 p-0;
    }

    .parrafo-proyecto {
      @apply mx-3 p-3;
    }

    .imagenes-lenguajes {
      @apply flex place-content-center m-5;
    }

    .imagenes-lenguajes img {
      @apply w-10 sm:w-20;
    }

    .proyecto h3, .proyecto h4 {
      @apply mx-4 p-3 font-semibold;
    }

    .sobre-mi {
      @apply h-fit;
    }

    .contenedor-sobre-mi {
      @apply lg:flex w-full h-full;
    }

    .titulo-sobre-mi {
      @apply text-5xl font-bold mx-20 text-white;
    }

    .mi-persona {
      @apply bg-slate-900 p-5 lg:w-fit mx-auto flex place-content-center items-center;
    }

    .mi-persona h3 {
      @apply text-center text-4xl font-bold text-slate-100;
    }

    .mi-persona h4 {
      @apply text-center text-lg font-bold text-slate-300;
    }

    .mi-persona img {
      @apply my-5;
    }

    .informacion-sobre-mi {
      @apply border w-fit p-5 bg-slate-100;
    }

    .informacion-sobre-mi h4 {
      @apply text-3xl font-bold text-slate-900 my-2;
    }

    .informacion-sobre-mi h4:nth-child(n+2) {
      @apply text-center my-5;
    }

    .informacion-sobre-mi p {
      @apply text-gray-800;
    }

    .tecnologias {
      @apply flex flex-wrap place-content-center;
    }

    .tecnologia {
      @apply mx-2 my-5 p-5 shadow-xl rounded-lg;
    }

    .tecnologia h3 {
      @apply text-slate-900 font-bold my-5;
    }

    .tecnologia img {
      @apply mx-auto;
    }

    .contacto {
      background-image: url("../img/programacion.jpg");
      @apply h-screen w-full bg-cover m-0 flex items-center place-content-center relative;
    }

    .formulario-contacto {
      @apply p-10 bg-slate-50 w-96 lg:w-fit my-10 rounded-sm relative;
    }

    .formulario-contacto h3 {
      @apply text-2xl font-semibold text-center text-neutral-900 mb-5;
    }

    .formulario-contacto input {
      @apply w-full my-5 border-2 lg:mr-5 focus:border-slate-700 outline-none text-gray-600 p-2 block;
    }

    .formulario-contacto textarea {
      @apply my-5 border-2 w-full h-40 focus:border-slate-700 outline-none text-gray-600 px-2;
    }

    .formulario-contacto input[type="submit"] {
      @apply block h-10 w-fit rounded-md bg-slate-800 text-slate-100 hover:cursor-pointer hover:bg-slate-700 lg:absolute lg:-bottom-2 lg:right-5;
    }

    .message {
      @apply h-20 w-20 absolute border bg-gray-100 rounded-full p-5 z-10;
    }

    @media (min-width: 1024px) {
      .message {
        margin-top: -26rem;
      }
    }

    @media (max-width: 1023px) {
      .message {
        margin-top: -35rem;
      }
    }

    .message img {
      @apply w-fit h-fit bg-cover;
    }

}
